/* set global box to all 0 */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  padding: 0;
  margin: 15px;
  border: 0;
}

/* header content */
#header_content {
  background-color: lightblue;
  padding-bottom: 20px;
  width: 100%;
  /* position: fixed; */
  padding: 10px 0;
}

/* logo */

#header_content img {
  position: absolute;
  left: 0;
  top: 0;
}

/* nav bar */
.nav-item {
  /* padding-left: 15px; */
  /* padding-top: 15px; */
}
/* nav links */
.nav-link:hover {
  border: 3px solid white;
  background-color: tomato;
}

/*main content*/
img#middlePic {
  margin: auto;
  display: block;
}

h1#wwa {
  text-align: center;
  color: rgb(126, 207, 235);
}

/* page content */
#page_content {
  padding-top: 40px;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}
/* page content about us*/
#page_contentAU {
  padding-top: 40px;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
  text-align: center;
  font-size: 28px;
}

div.accordion-body {
  background-color: lightgrey;
  font-size: 20px;
}

div.card-deck {
  background-color: darkgray;
}

/* footer content */
#footer_content {
  background-color: lightgreen;
  width: 100%;
  /* position: fixed; */
  /* text-align: center; */
}
#aboutuswhale {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* footer nav bar */
#footer_content ul {
  text-align: right;
}

/* card content */
.card-deck {
  align-self: center;
}
.card {
  display: inline-block;
  margin: 10px;
}
#StockForm {
  top: ;
}
